/* Paleta de colores */
:root {
    --azul: #1E3A8A;
    --verde: #10B981;
    --blanco: #FFFFFF;
    --morado: #8B5CF6;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #15031d, #380b57, #1b4e6b);
    color: white;
}

header {
    background: linear-gradient(135deg, #180125, #2f216b, #0c0936);
    color: white;
    padding: 2rem;
    text-align: center;
}
.header-portada .logo-portada {
    height: 80px;
    border-radius: 8px;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

nav {
    text-align: center;
    margin: 50px 0;
}

nav a {
    text-decoration: none;
    background: linear-gradient(135deg, #1b5ed6, #4bb2ff, #82d8ff);
    padding: 13px 30px;
    border-radius: 40px;

    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    box-shadow: 0 0 20px rgba(91, 120, 158, 0.5);
    transition: 0.25s;
}

nav a:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(198, 220, 236, 0.288);
}

main {
    padding: 2rem;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  width: 200px;   /* o el tamaño que quieras */
  height: auto; 
}

.tarjeta1 {
    background-color: #091642; 
    padding: 25px 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.1s;
    font-size: 18px;
    color: #eeeaea;
    font-weight: bold;
    font-family: Arial, sans-serif;
    
}

section {
    margin-bottom: 2rem;
    text-decoration: none;
    background: linear-gradient(135deg, #03112b, #0a2e49, #125f83);
    padding: 13px 30px;
    border-radius: 40px;

    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    box-shadow: 0 0 20px rgba(91, 120, 158, 0.5);
    transition: 0.25s;
}

section h1 {
    text-align: center;
}

section h2 {
    color: rgb(228, 239, 243);
    text-align: center;
}

section p, section ul {
    line-height: 1.6;
}

section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img {
    width: 180px;
    border-radius: 15px;
}

/* Tarjetas de ganadores */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.card {
    background: linear-gradient(135deg, #120630, #3d1866);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
    font-style: italic;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #0d1149;
    color: #e6e4ee;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

.btn:hover {
    background: #a280e7;
    color: #d6d4e0;
}

.bio-card {
            display: flex;
            flex-wrap: wrap;  /* para que se adapte en pantallas pequeñas */
            align-items: center;
            justify-content: center;
            background: linear-gradient(135deg, #110430, #54679b);
            color: white;
            border-radius: 20px;
            padding: 20px;
            gap: 20px;
            max-width: 700px;
            margin: 40px auto;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
        }

        /* Foto de perfil */
        .bio-card img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }



/* Footer */
footer {
    background: linear-gradient(135deg, #0a0f2c, #102a56, #1b4e6b);
    color: var(--blanco);
    text-align: center;
    padding: 1rem;
}
